section.fields([class.marked-as-removed]='model.isMarkedAsRemoved')
    div.field([ngSwitch]='model.type')
        label Value
        div(*ngSwitchCase='Type.INT')
            // TODO is the `.field` required? why it isn't everywhere else? I remember a css bug?
            div.field
                input.option-value-int-input(type='number', [(ngModel)]='model.value')
        div(*ngSwitchCase='Type.DECIMAL')
            input(type='number', [(ngModel)]='model.value')
        div(*ngSwitchCase='Type.STR')
            input.option-value-str-input(type='text', [(ngModel)]='model.value')
        div(*ngSwitchCase='Type.TRANS_STR')
            trans-str([(translations)]='model.value')
    div.field.two.wide
        label Order
        input.option-order-input(
            type='number',
            placeholder='order',
            [value]='model.order',
            (change)='setOrder($event.target.value)',
        )
    sui-checkbox.field.three.wide.option-remove(
        [ngModelOptions]="{standalone: true}",
        [(ngModel)]='model.isMarkedAsRemoved',
        [isDisabled]='!isCanBeRestored',
    ) Remove
