section.fields
    div#inputs.field
        div.lang-input.field(*ngFor='let langCode of langCodes')
            input(
                type='text',
                *ngIf='langCodeSelected === langCode',
                [(ngModel)]='translations[langCode]',
                (keyup)='updateTranslations(langCode, $event.target.value)',
                [attr.data-lang-code]='langCode',
            )
    div.field.select-lang
        div.ui.basic.buttons
            div.select-lang-button.ui.button(
                *ngFor='let langCode of langCodes',
                (click)='selectLangCode(langCode)',
                [class.active]='langCodeSelected === langCode',
                [attr.data-lang-code]='langCode',
            )
                i([ngClass]='setButtonClasses(langCode)')
                | {{ langCode }}
