#cls-name
    min-width: 450px

    
=invalid-left-border
    border-left: 4px solid #d65a5a !important

=invalid-border-color
    border-color: #e0b4b4 !important

=invalid-input-highlighted
    +invalid-border-color
    +invalid-left-border

input.ng-touched.ng-invalid
    +invalid-input-highlighted
    background: #fff6f6 !important
    color: #9f3a38 !important
    &:hover
        +invalid-input-highlighted
    &:focus
        +invalid-input-highlighted

input.ng-untouched.ng-invalid
    +invalid-left-border
    &:hover
        +invalid-left-border
    &:focus
        +invalid-left-border

    
// reset fixes for shuup

*:focus
    outline: none

.field input
    &:hover
        border-color: rgba(34, 36, 38, 0.35) !important
    &:focus
        border-color: #85B7D9 !important

.shuup-toolbar form .btn-toolbar .btn-group
    .btn.btn-success
        display: none
    .dropdown-toggle.btn-success
        display: none

.content-block
    width: auto
    margin-right: 15px !important
    margin-left: 28px
