doctype html

ng2-slim-loading-bar([color]='"#0ee8b9"', [height]='"2px"')

simple-notifications

form.ui.form(#clsForm='ngForm')
    h4.ui.dividing.header Attribute class

    section#cls-code.field.four.wide
        label Class code
        input(
            type='text',
            name='code',
            required,
            placeholder='unique_class_code',
            [(ngModel)]='model.code',
        )

    section#cls-type.field.four.wide
        label Attribute class type
        sui-select(
            class='selection',
            placeholder='Select a type',
            [(ngModel)]='model.type',
            [isDisabled]='model.isSaved',
            [ngModelOptions]='{standalone: true}',
            [optionFormatter]='selectTypeOptionFormatter',
        )
            sui-select-option([value]='Type.INT')
            sui-select-option([value]='Type.DECIMAL')
            sui-select-option([value]='Type.TRANS_STR')
            sui-select-option([value]='Type.STR')

    section#cls-name.field.four.wide
        label Name
        trans-str([(translations)]='model.name')

    section#cls-product-type.field.four.wide
        label Product type
        sui-select(
            class='selection',
            placeholder='Select a type',
            [(ngModel)]='model.productType',
            [ngModelOptions]='{standalone: true}',
            [optionFormatter]='selectProductTypeOptionFormatter',
        )
            sui-select-option(
                *ngFor='let productType of productTypeList',
                [value]='productType',
            )

    h4.ui.dividing.header Options

    section#cls-options
        div(#options)
        button#add-option.ui.basic.button(type='button', (click)='addOption()')
            i.add.circle.icon
            | Add an option

    div.ui.divider

    section#cls-network-buttons
        button#cls-save-button.ui.positive.button.large.right.labeled.icon(
            type='submit',
            (click)='save()',
            *ngIf='model.isSaved',
            [disabled]='!clsForm.form.valid',
        )
            i.save.icon
            | Save
        button#cls-create-button.ui.positive.button.large.right.labeled.icon(
            type='submit',
            (click)='create()',
            *ngIf='!model.isSaved',
            [disabled]='!clsForm.form.valid',
        )
            i.save.icon
            | Create
